/** Overzicht */
ion-row {
  margin-bottom: 1em;
}

.row1, .row2, .row3 {
  border: 1px solid rgb(217, 228, 62);
}


ion-select {
  width: 50%;
  margin-bottom: 1em;

}

ion-select-option {
  font-weight: normal;
}

.ion-text-center {
  margin: 1em;
  font-weight: bold;
}

.btnLijst {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1em;
}



/**Project, Mederwerker, Project en medewerkers */
.header-row {
  display: flex;
  text-align: center;
  background-color: rgb(1, 103, 1);
  font-weight: bold;
  color: white;
  padding: 10px;
}

.lbrow {
  flex: 1;
  text-align: center;
  margin: 0; 
  padding: 0;
}


.item {
  border: 1px solid black;
}

.btn {
  width: 30%;
}

.icon {
  font-size: 1.5em;
}



/** About us */
.photo {
  width: 17em;
  height: 20em;
}

.aboutol {
  padding: 10px;
  border: 1px solid #ccc;
}

ion-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 360px) {
  .header-row {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .lbrow {
    flex: none; 
  }

  .btn {
    width: 100%; 
  }
}