/** Overzicht */
ion-row {
  margin-bottom: 1em;
}

.row1, .row2, .row3 {
  border: 1px solid rgb(217, 228, 62);
}
ion-col {
  padding: 1em;
}

ion-button {
  margin-right: 1em;
  display: flex;
  justify-content: center;
  --background: rgb(1, 103, 1);
}


ion-input {
  margin-bottom: 1em;
}


ion-select {
  width: 50%;
  margin-bottom: 1em;

}

ion-select-option {
  font-weight: normal;
}

.ion-text-center {
  margin: 1em;
  font-weight: bold;
}

.btnLijst {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1em;
}

/** Medewerker Project */
.header-row {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.lbrow {
    flex: 1;
    text-align: center;
    min-width: 0;
    width: 25%;
}


/** Medewerkers */
.btn {
  width: 25%;
}

.col {
  display: flex;
  justify-content: space-around;
}


/** About us */
.photo {
  width: 17em; 
  height: 20em; 
}

.aboutol {
    padding: 10px;
    border: 1px solid #ccc;
  }
 
  ion-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }