/** Overzicht */
ion-row {
  margin-bottom: 1em;
}

.row1, .row2, .row3 {
  border: 1px solid rgb(217, 228, 62);
}

ion-button {
  --background: rgba(0, 0, 0, 0.969);
}

ion-select {
  width: 50%;
  margin-bottom: 1em;

}

ion-select-option {
  font-weight: normal;
}

.ion-text-center {
  margin: 1em;
  font-weight: bold;
}

.btnLijst {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}


/**Project, Mederwerker, Project en medewerkers */
.header-row {
  display: flex;
  text-align: center;
  background-color: #000000;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.lbrow {
  flex: 1;
  text-align: center;
  margin: 0; 
  padding: 0;
}


.item {
  border: 1px solid black;
}


.icon {
  font-size: 1.5em;
}

.editable {
  background-color: grey;
}

.icon {
  color: rgb(255, 106, 106);
}



/** About us */
.photo {
  width: 17em;
  height: 20em;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(4, 0, 0, 0.786);
}

.aboutcol {
  padding: 10px;
  border: 1px solid #050000;
}

ion-label {
  color: black;
  font-weight: bold;
}


ion-card {
  border: 1px solid #080000;
  border-radius: 5px;
  box-shadow: 14px 18px 20px rgba(0, 0, 0, 0.786);
}

@media screen and (max-width: 360px) {
  .header-row {
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .lbrow {
    flex: none; 
  }

  .btn {
    width: 100%; 
  }
}